:root {
  --colorPrimary: #1c3e60;
  --colorPrimaryDarker: #e42842;

  --colorSecondary: #2eafc2;

  --colorGreen: #81d17f;
  --colorYellow: #e8ba72;
  --colorRed: #e66b6b;
  --colorBlue: #6294df;
  --colorViolet: #9f87e0;

  --colorGrey10: #3d3f4b;
  --colorGrey9: #50525d;
  --colorGrey8: #64656f;
  --colorGrey7: #777981;
  --colorGrey6: #8b8c93;
  --colorGrey5: #9e9fa5;
  --colorGrey4: #b1b2b7;
  --colorGrey3: #c5c5c9;
  --colorGrey2: #d8d9db;
  --colorGrey1: #ececed;

  --colorLightBg: #f7f8f9;
  --colorCreamBg: #fef8f1;

  --colorWhite: #ffffff;

  --shadowPrimary: 4px 3px 30px rgb(255 0 68 / 31%);
  --shadowSecondary: 4px 3px 20px rgb(255 0 68 / 62%);

  --shadowCyan: 4px 3px 30px rgb(46 175 194 / 50%);

  --transition: 0.5s all ease 0s;
}
