.container {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 0px 20px;
}
.orderForm {
  border: 1px solid #e5e6e7;
  margin-bottom: 20px;
  border-radius: 20px;
  background: #fff;
  .title {
    display: block;
    padding: 1em 2em;
    border-bottom: 1px solid #f1f2f3;
    text-transform: uppercase;
  }
}
.row {
  border-bottom: 1px solid #f1f2f3;
  display: flex;
  padding: 18px 32px;
  align-items: center;

  &:last-child {
    border-bottom: none;
  }

  .label {
    min-width: 80px;
    font-size: 14px;
    font-weight: 700;
    text-align: justify;
    padding-left: 30px;
  }

  .content {
    flex: 1;
    font-size: 14px;
    padding-left: 20px;
    text-align: right;
    word-break: break-word;
    line-height: 1.4;
    font-weight: 300;
  }
  input[type='checkbox'] {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 960px) {
  .row {
    padding: 15px 20px;
  }
}
