.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  max-width: 650px;
  margin: 0 auto;
  padding: 0px 20px;
}
.imageBlock {
  width: 100%;
  height: auto;
  padding: 50px 50px 0 50px;
}
.imageBlock img {
  border-radius: 16px;
  width: 100%;
  object-fit: contain;
}
/* Tablet */
@media screen and (max-width: 1024px) {
  .container {
    padding-bottom: 24px;
  }
  .imageBlock {
    padding: 24px 24px 0px 24px;
  }
  .imageBlock img {
    border-radius: 8px;
  }
}
/* Mobile */
@media screen and (max-width: 767px) {
  .container {
    padding-bottom: 12px;
  }
  .imageBlock {
    padding: 12px 12px 0px 12px;
  }
  .imageBlock img {
    border-radius: 4px;
  }
}
